body {
  margin: 0;
  padding: 0;
  font-family: "Courier", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header-area {
  grid-area: header;
  background-color: white;
  text-align: left;
  font: 1em sans-serif;
  font-size: 30pt;
}
.logo {
  width: 70px;
  height: 70px;
  float: left;
}
.loginLabel {
  margin-right: 10px;
  margin-top: 2px;
  font-size: 14px;
}
.loginContainer {
  margin-top: 10px;
}
.header {
  width: 100%;
  height: 70px;
  background-color: white;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 0;
  box-shadow: 0px 5px #888888;
}
.title {
  float: left;
  margin-left: 50px;
  margin-top: 15px;
}
.loginLogout {
  font-size: 15pt;
  float: right;
  padding: 10px;
  margin-right: 25px;
}
.loginInput {
  outline: none;
  border: 0px solid transparent;
  background-color: white;
}

.avatarImage {
  height: 40px;
  width: 40px;
  float: left;
  margin-top: 5px;
  margin-right: 3px;
}
.loginOutline {
  margin-right: 5px;
  border-radius: 14px;
  border: 1px solid black;
  padding: 0px 10px 2px 10px;
}
.logoutContainer {
  font-size: 14px;
}
.logoutUsername {
  margin-right: 5px;
  margin-top: 2px;
  float: left;
}
.logoutDetails {
  float: left;
  margin-top: 15px;
}
.main-area {
  grid-area: main;
  background-color: rgb(206, 240, 240);
}
.article-body {
  margin: 0 auto;
  background-color: white;
  width: 800px;
  border: 1px solid black;
  padding: 5px;
}
.sidebar-area {
  grid-area: sidebar;
  background-color: rgb(215, 231, 142);
}

.container {
  display: grid;
  grid-template-columns: auto 30%;
  grid-template-rows: 75px auto;
  grid-template-areas:
    "header header header header"
    "main main main sidebar";
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.articleOverview {
  margin: auto;
  background-color: white;
  width: 600px;
  border: 1px solid black;
  padding: 5px;
}

.singleComment {
  margin: 0 auto;
  background-color: white;
  width: 800px;
  border: 1px solid black;
  padding: 5px;
}
.articleList-commentCount {
  text-align: right;
}

.articleList {
  width: 100%;
}
.btn {
  background: white;
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  /* text-shadow: 3px 2px 1px #9daef5; */
  /* -webkit-box-shadow: 3px 2px 14px #666666;
  -moz-box-shadow: 3px 2px 14px #666666;
  box-shadow: 3px 2px 14px #666666; */
  color: #888888;
  font-size: 12px;
  padding: 2px 5px 2px 5px;

  text-decoration: none;
}
